<div class="cont-nav">
    <nav class="nav">
        <a href="@Url.Action("Index", "Home", new { area = "" })" class="logo">
            <i class="bi bi-cart4"></i>
            <span>Tienda</span>
        </a>
        <a title="Inicio" id="icon-home" href="@Url.Action("Index", "Home", new { area = "" })" class="btn-nav icono-seleccionado">
            <i class="bi bi-house"></i>
        </a>
        <a title="Vendedores" id="icon-vendedor" href="@Url.Action("Index", "Vendedor", new { area = "" })" class="btn-nav">
            <i class="bi bi-person-vcard-fill"></i>
        </a>
        <a title="Venta" id="icon-tienda" href="@Url.Action("Index", "Venta", new { area = "" })" class="btn-nav">
            <i class="bi bi-bag"></i>
        </a>
        <a title="Producto" id="icon-producto" href="@Url.Action("Index", "Producto", new { area = "" })" class="btn-nav">
            <i class="bi bi-folder-plus"></i>
        </a>
        <a title="Lugar" id="icon-lugar" href="@Url.Action("Index", "Departamento", new { area = "" })" class="btn-nav">
            <i class="bi bi-geo-alt-fill"></i>
        </a>
        <a title="Reporte" id="icon-reporte" href="@Url.Action("Index", "Reporte", new { area = "" })" class="btn-nav">
            <i class="bi bi-graph-up-arrow"></i>
        </a>

    </nav>
</div>